@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
@theme {
  --color-mint-500: oklch(0.72 0.11 178);
  --color-my-gray: #f8f9fa;
}

:root {
  --font-main: "Inter", sans-serif;
}
